<!DOCTYPE html>
<html>
  <head>
    <title>{{status}} ERROR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style type="text/css">
      body {
        color: #333;
        text-align: center;
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <h1>{{status}} Error</h1>
    <p>{{message}}</p>
    <p>
      <a href="/auth/signin">Go back</a>
    </p>
  </body>
</html>