<html>
  <body>
    <p>A sign in for {{company_short_name}} has been requested.</p>
    <p>Enter this verification code on the sign in page to confirm your identity:</p>
    <p>{{verification_code}}</p>
  </body>
</html>