<html>
  <body>
    <p>Your support case has been received and you will be contacted shortly.</p>
    <p>
      <strong>Case Title</strong>
      <br>
      {{form.title}}
    </p>
    <p>
      <strong>Description</strong>
      <br>
      {{form.description}}
    </p>
    <p>
      <strong>Severity</strong>
      <br>
      {{form.severity}}
    </p>
  </body>
</html>
