<html>
  <body>
    <p>You have been invited by <strong>{{inviter_name}}</strong> to use {{company_short_name}}.</p>
    <p>
      <a href="{{sign_in_url}}">Click here to sign in with {{invited_user_email}}</a>
    </p>
  </body>
</html>