<html>
  <body>
    <p>Welcome to {{company_short_name}}.</p>
    <p>Your account is ready to go. Please email us at {{company_general_email}} if you need any help or have any questions.</p>
  </body>
</html>