<!-- Main -->
<!-- ############################################ -->
<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-4 col-md">
      <img src="/assets/images/logo-gray.svg" type="image/svg+xml" height="32" class="mb-2">
      <small class="d-block mb-3 text-muted">&copy; 1947–2021</small>
    </div>
    <div class="col-4 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#how-it-works">How it Works</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#features">Features</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#pricing">Pricing</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/terms">Terms</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/privacy">Privacy</a></li>
      </ul>
    </div>
    <div class="col-4 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">Created by talented humans from earth. We love our customers and strive to serve.</li>
      </ul>
    </div>
  </div>
</footer>