<!-- Styles -->
<!-- ############################################ -->
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<!-- Main -->
<!-- ############################################ -->
{{> public_home/_header}}

<div class="row align-items-center g-5 py-5 mt-2">
  <div class="col-md-6">
    <h1 class="display-5 fw-bold lh-1 mb-3">Supercharge Your Business. Delight Your Customers.</h1>
    <p class="lead">Tellus orci ac auctor augue mauris augue neque gravida. Mauris a diam maecenas sed enim ut sem. Accumsan lacus vel facilisis volutpat est velit. Amet venenatis urna cursus eget nunc scelerisque viverra. Quis lectus nulla at volutpat diam ut venenatis. Scelerisque felis imperdiet proin fermentum leo vel orci. Egestas quis ipsum suspendisse ultrices gravida dictum. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt.</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="/auth/signup" class="btn btn-primary btn-lg px-4 me-md-2">Get started</a>
    </div>
  </div>
  <div class="col-md-6">
    <img src="/assets/images/screenshot.png" class="w-100" alt="Screenshot">
  </div>
</div>

<div style="height:120px;"></div>

<div class="col-md-10 offset-md-1 text-center pb-md-4">
  <h1 id="how-it-works" class="display-6 fw-normal">How it Works</h1>
  <p class="fs-5 text-muted">Eu feugiat pretium nibh ipsum consequat nisl vel. Posuere lorem ipsum dolor sit. Et odio pellentesque diam volutpat commodo sed egestas egestas fringilla. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et.</p>
</div>

<div class="row">
  <div class="col-md-4 d-flex align-items-start mb-2">
    <div>
      <h2>Setup Your System</h2>
      <p>Vitae auctor eu augue ut lectus. Facilisi etiam dignissim diam quis enim. Mollis aliquam ut porttitor leo a. Suspendisse faucibus interdum lorem ipsum dolor sit. Donec vulputate ut.</p>
    </div>
  </div>
  <div class="col-md-4 d-flex align-items-start mb-2">
    <div>
      <h2>Add Your Items</h2>
      <p>Est sit amet facilisis magna. Dictum varius duis at consectetur lorem. Facilisi etiam dignissim diam quis. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum.</p>
    </div>
  </div>
  <div class="col-md-4 d-flex align-items-start mb-2">
    <div>
      <h2>Manage Your Things</h2>
      <p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Venenatis a fringilla urna rhoncus dolor purus. In iaculis nunc sed augue lacus viverra vitae congue.</p>
    </div>
  </div>
</div>

<div style="height:120px;"></div>

<div class="col-md-10 offset-md-1 text-center pb-md-4">
  <h1 id="features" class="display-6 fw-normal">Features</h1>
  <p class="fs-5 text-muted">In nulla posuere sollicitudin aliquam ultrices sagittis orci. Tempus imperdiet nulla malesuada pellentesque elit. Aliquet nec ullamcorper sit amet risus nullam eget felis eget. Orci sagittis eu volutpat odio facilisis.</p>
</div>

<div class="row">
  <div class="col-md-3 d-flex align-items-start mb-2">
    <i class="fas fa-key fa-2x fa-fw text-primary me-3"></i>
    <div>
      <h4 class="fw-bold mb-0">Secure & Private</h4>
      <p>Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut.</p>
    </div>
  </div>
  <div class="col-md-3 d-flex align-items-start mb-2">
    <i class="fas fa-swatchbook fa-2x fa-fw text-primary me-3"></i>
    <div>
      <h4 class="fw-bold mb-0">Customizable</h4>
      <p>Ac orci phasellus egestas tellus rutrum tellus pellentesque eu.</p>
    </div>
  </div>
  <div class="col-md-3 d-flex align-items-start mb-2">
    <i class="fas fa-sun fa-2x fa-fw text-primary me-3"></i>
    <div>
      <h4 class="fw-bold mb-0">Easy to Use</h4>
      <p>Proin fermentum leo vel orci porta non pulvinar neque laoreet.</p>
    </div>
  </div>
  <div class="col-md-3 d-flex align-items-start mb-2">
    <i class="fas fa-share-alt fa-2x fa-fw text-primary me-3"></i>
    <div>
      <h4 class="fw-bold mb-0">Share with Friends</h4>
      <p>Et egestas quis ipsum suspendisse ultrices gravida.</p>
    </div>
  </div>
  <div class="col-md-3 d-flex align-items-start mb-2">
    <i class="fas fa-globe fa-2x fa-fw text-primary me-3"></i>
    <div>
      <h4 class="fw-bold mb-0">Distributed</h4>
      <p>In ornare quam viverra orci sagittis eu volutpat odio facilisis.</p>
    </div>
  </div>
  <div class="col-md-3 d-flex align-items-start mb-2">
    <i class="fas fa-tachometer-alt fa-2x fa-fw text-primary me-3"></i>
    <div>
      <h4 class="fw-bold mb-0">Performance</h4>
      <p>Tortor posuere ac ut consequat semper viverra nam libero.</p>
    </div>
  </div>
  <div class="col-md-3 d-flex align-items-start mb-2">
    <i class="fas fa-life-ring fa-2x fa-fw text-primary me-3"></i>
    <div>
      <h4 class="fw-bold mb-0">Premium Support</h4>
      <p>Eget duis at tellus at urna condimentum mattis pellentesque.</p>
    </div>
  </div>
  <div class="col-md-3 d-flex align-items-start mb-2">
    <i class="fas fa-database fa-2x fa-fw text-primary me-3"></i>
    <div>
      <h4 class="fw-bold mb-0">Data Protection</h4>
      <p>Vestibulum morbi blandit cursus risus at ultrices mi tempus.</p>
    </div>
  </div>
</div>

<div style="height:120px;"></div>

<div class="col-md-10 offset-md-1 text-center pb-md-4">
  <h1 id="pricing" class="display-6 fw-normal">Pricing</h1>
  <p class="fs-5 text-muted">Pretium fusce id velit ut. Mauris sit amet massa vitae tortor condimentum lacinia quis vel. Et malesuada fames ac turpis. Aliquam ut porttitor leo a diam. Ut diam quam nulla porttitor massa id neque.</p>
</div>

<div class="row row-cols-1 row-cols-md-3 text-center">
  <div class="col">
    <div class="card mb-4 rounded-3">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Free</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <a href="/auth/signup" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Pro</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$79<small class="text-muted fw-light">/mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>40 users included</li>
          <li>50 GB of storage</li>
          <li>Priority email support</li>
          <li>Help center access</li>
        </ul>
        <a href="/auth/signup" class="w-100 btn btn-lg btn-primary">Get started</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-4 rounded-3 border-primary">
      <div class="card-header py-3 text-white bg-primary border-primary">
        <h4 class="my-0 fw-normal">Enterprise</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$149<small class="text-muted fw-light">/mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>100 users included</li>
          <li>150 GB of storage</li>
          <li>Phone and email support</li>
          <li>Help center access</li>
        </ul>
        <a href="/auth/signup" class="w-100 btn btn-lg btn-primary">Get started</a>
      </div>
    </div>
  </div>
</div>

<div style="height:120px;"></div>

{{> public_home/_footer}}

<div style="height:85px;"></div>
